# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/
*.swp

# Segurança (NUNCA suba o .env)
.env

# Conteúdo gerado
src/uploads/*
!src/uploads/.gitkeep

# Logs
*.log